
html,body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.2;
  background-image:url("https://www.thewrap.com/wp-content/uploads/2015/12/New-York-Times-paper.jpg");
  background-size: cover;
  background-color: rgb(244, 233, 214);
  height:100%;
  overflow:auto;
  margin:0;
  /* font-family: 'Roboto Condensed', sans-serif; */
  font-family: 'Sunflower', sans-serif; 
  /* color: rgb(130, 233, 163); */
}

a{
  color:rgb(223, 134, 79);
}

.navbar-light{
  background-color: black;
  padding-top:0;
  padding-bottom: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
.alert-dark{
  border-color:rgba(0, 0, 0, 0);

}

h5{
  color:  rgb(240, 182, 111);
  background-color: #6a574c;
}
.saveBtn{
  background-color: rgb(205, 126, 31);
  padding:0 0.4em;
  border:0;
  margin-top: 0.5em;
  font-size: 1em;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  height: 550px;
  overflow-y: auto;
}

.container_landing{
  margin:0 1% ;
  width: 98%;
}
.btn-danger{
  background-color: rgb(230, 150, 51);
  border:0;
}
.btn-info{
  border:0;
  color:darkred;
  background-color: rgb(232, 204, 143);
  padding:0.2em  0.5em;
  margin-top: 0.5em;
}

#landingjumbotron{
  /* background-image:url("https://pmcdeadline2.files.wordpress.com/2016/10/the-new-york-times-logo-featured.jpg?w=446&h=299&crop=1"); */
  margin-top: 3.7em ;
  color:rgb(94, 94, 94);
  background-color: rgba(147, 147, 147, 0.192);
  border-radius: 0.2em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)
}
#landingjumbotron >h2{
  padding:0em 3em;
}

#savejumbotron{
  margin-top: 3em ;
  background-color: rgba(147, 147, 147, 0.192);
  color: white;
}


.card-img-top{
  max-width: 5em;
  margin: auto;
  margin-top: 2em;
}
p{
  margin: 2em;
}
a{
  /* color:white; */
  text-decoration: none;
}
ul{
  padding:0;
}
li{
  list-style-type:none;
  padding:0;
}
li >p {
  margin:0;
}
.alert-dark{
  text-align: center;
  background-color: #6a574c;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
}
.btn-primary{
  padding:0.1em 1em;
  font-size: 1em;
  margin:0.3em 0.6em;
  background-color: #426875;
  border: #426875;
  margin-bottom:0em;
}



.showCase :hover + .hidden{
  opacity:0.3 !important;
}


@media(max-width:768px){
  .showCase img{
       margin-bottom: 8%;
  }

}

@media (max-width: 640px) {


  .showCase{
      width:92%;
      max-height: 30%;
      margin: 1% 2%;
      padding: 1%;
      padding-bottom: 8%;
      margin-top: 8%;
      margin-bottom: 4%;
      float:left;
      background-color:white;
      box-shadow: 2px 3px 2px grey;
  }

  
}